@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');

body{
    background: #83a4d4;  
    background: -webkit-linear-gradient(to right, #b6fbff, #83a4d4);  
    background: linear-gradient(to right, #b6fbff, #83a4d4); 

}
.headings {
    font-family: 'Amatic SC';
}
.headings h1 {
    font-size: 4rem;
}
#container{
    margin: 40px auto;
    text-align: center;
    background: white;
    overflow-y: auto;
    color: black;
    border: 1px solid #015f70;
    box-shadow: 0px 0px 8px 1px #015f70;
    border-radius: 10px;
    padding: 40px 20px;
}
#container h1{
    text-transform:uppercase;
}
#container ul{
    margin-top: 50px;
    padding-left: 0;
}
#container ul li{
    list-style: none;
    border: 2px solid #b5c5dd;
    width:80%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    height: 40px;
    margin: 5px auto;
    text-align: left;
}
#container ul li label{
    margin: 0 auto;
    vertical-align: middle;
    height: 100%;
    line-height: 40px;
    font-size: 18px;
}
#container ul li #check{
    float: left;
    width: 30px;
    height: 30px;
    margin: 3.4px;
    -webkit-appearance: none;
    border: 2px solid #b5c5dd;
    position: relative;
    outline: 0;
}
#container ul li #check:checked:after{
    content: '\2714';
    font-size: 20px;
    position: absolute;
    top: 0px;
    left: 7px;
    color: black;
}
#container ul li input[type="checkbox"]:checked+label{
    text-decoration: line-through;
    color: rgba(0, 0, 0, 3);
}
.addTask-container{
    width: 60%;
    margin: auto;
}
#container .controls #input{
    width: 100%;
}
#container .controls #input:focus{
    outline: 0;
}
#container .controls button{
    width: 200px;
    margin-bottom: 10px;
}
#container .controls button:focus{
    outline: 0;
}
button:hover{
    transition: all 0.5s;
    transform: scale(1.05);
}
#container .mycheck{
    opacity: 1;
    border-radius: 10px;
}
 .visual{
             opacity: 1 !important;
        border-radius: 10px;
    }